---
# Only the main SCSS file needs front matter (empty front matter here)
---

@import "minima";

.container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}
